
.transaction{
    padding: 2rem 5%;
    display: flex;
    flex-direction: column;
}
.income-info{
    width: 100%;
    padding-bottom: 5rem;
    border-bottom: 1px solid rgb(89, 89, 94);
    box-shadow: .1rem .1rem .3rem  rgb(89, 89, 94) ;
    display: flex;
    flex-direction: column;
}
.income-info h1{
    color: rgb(38, 38, 136);
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
}

.income-info__details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.income-info__details-money{
    text-align: center;
    padding: 1.5rem;
    margin-right: .4rem;
    box-shadow: .2rem .2rem .4rem rgb(172, 169, 169);
}
.income-info__details-money h2{
    font-size: 2rem;
    color: rgb(75, 73, 73);
}
.history-info{
    padding: 2rem 0;
}

.history-info h1{
    color: rgb(38, 38, 136);
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
}
.history-table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    font-size: 1.2rem;
    text-align: left;
    padding: .4rem;
}
tr:nth-child(even) {
    background-color: #eeebeb;
}

@media (max-width: 60rem){
    .income-info__details{
        flex-direction: column;
    }
    .income-info__details-money{
        width: 70%;
    }
}